/* my css practice */
body{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#B38272}

img{border: 20px solid #FFCDBD}

.okay{border:20px dotted#60B39F}

pre{font-style:normal;
    font-weight:bolder;
    padding-top:50px dotted orange}

a:hover{background-color:#FFCDBD}

.presh{
color:aquamarine;
margin-top:auto 30px;
border:1px solid black;
}

.heading{
    margin:5px dotted brown;
    background-color:aquamarine;
    color:black;
    padding:10px;
    border:1px solid purple; 
}

.container2{
    margin:1px;
    padding:20px;
    border:3px dotted pink;
    background-color:#60B39F;
}

.Jesus{
    background-color:bisque;
    color:cornflowerblue;
    
}
.Jesus:hover{
    color:black;

}